$navbarHeight = 70px;

.ui-navbar {
  display flex
  height $navbarHeight
  justify-content center
  align-items center
  border-bottom 1px #eee solid

  figure {
    max-width 200px
    height $navbarHeight
  }

  figure img {
    width auto
    height 90%
  }
}